{% extends 'UerpMainBundle::main.html.twig' %}
{% block title %} Customers {% endblock %}

{% block body -%}
    <div class="panel panel-info" style="margin: 20px">
    <div class="panel-heading">
        <h3>Customers</h3>
    </div>
    <div class="panel-body">
    <table class="table table-striped table-advance table-hover">
        <thead>
            <tr>

                <th>Name</th>
                <th>Phone_number</th>
                <th>Mobile_number</th>
                <th>Email</th>
                <th>District</th>
                <th>City</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                
                <td>{{ entity.name }}</td>
                <td>{{ entity.phonenumber }}</td>
                <td>{{ entity.mobilenumber }}</td>
                <td>{{ entity.email }}</td>
                <td>{{ entity.district }}</td>
                <td>{{ entity.city }}</td>
                <td>
                <ul>

                        <a class="btn btn-info btn-xs" href="{{ path('customer_show', { 'id': entity.id }) }}"><i class="fa fa-eye"></i> show</a>
 
                        <a  class="btn btn-warning btn-xs" href="{{ path('customer_edit', { 'id': entity.id }) }}"><i class="fa fa-pencil"> edit</a>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
	</div>
        <ul>
        <li>
            <a  class="btn btn-success" href="{{ path('customer_new') }}"><i class="fa fa-plus"></i> Create a new entry</a>
        </li>
    </ul>
    {% endblock %}
