{% extends 'UerpMainBundle::main.html.twig' %}

{% block body -%}
    <h1>Customer</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>{% trans %}Name{% endtrans %}</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>{% trans %}Phone number{% endtrans %}</th>
                <td>{{ entity.phonenumber }}</td>
            </tr>
            <tr>
                <th>{% trans %}Mobile number{% endtrans %}</th>
                <td>{{ entity.mobilenumber }}</td>
            </tr>
            <tr>
                <th>{% trans %}Email{% endtrans %}</th>
                <td>{{ entity.email }}</td>
            </tr>
            <tr>
                <th>{% trans %}Birth date{% endtrans %}</th>
                <td>{{ entity.birthdate|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>{% trans %}Street{% endtrans %}</th>
                <td>{{ entity.street }}</td>
            </tr>
            <tr>
                <th>{% trans %}Street number{% endtrans %}</th>
                <td>{{ entity.streetnumber }}</td>
            </tr>
            <tr>
                <th>{% trans %}Complement{% endtrans %}</th>
                <td>{{ entity.complement }}</td>
            </tr>
            <tr>
                <th>{% trans %}District{% endtrans %}</th>
                <td>{{ entity.district }}</td>
            </tr>
            <tr>
                <th>{% trans %}Postal code{% endtrans %}</th>
                <td>{{ entity.postalcode }}</td>
            </tr>
            <tr>
                <th>{% trans %}City{% endtrans %}</th>
                <td>{{ entity.city }}</td>
            </tr>
            <tr>
                <th>{% trans %}Notes{% endtrans %}</th>
                <td>{{ entity.notes }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('customer') }}">
           {% trans %} Back to Clients{% endtrans %}
        </a>
    </li>
    <li>
        <a href="{{ path('customer_edit', { 'id': entity.id }) }}">
           {% trans %} edit{% endtrans %}
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
