{% extends 'UerpMainBundle::main.html.twig' %}

{% block body -%}
    <h1>Sale list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Totalcost</th>
                <th>Totalsale</th>
                <th>Discount</th>
                <th>Saleobs</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('sale_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{% if entity.date %}{{ entity.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.totalcost }}</td>
                <td>{{ entity.totalsale }}</td>
                <td>{{ entity.discount }}</td>
                <td>{{ entity.saleobs }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('sale_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('sale_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('sale_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
