{% extends 'UerpMainBundle::main.html.twig' %}
{% block title %}{% trans %}list.sale{% endtrans%}{% endblock %}
{% block body -%}


<div class="panel panel-info" style="margin: 20px">
<div class="panel-heading">
    <h3>{% trans %}list.sale{% endtrans%}</h3>
</div>
<div class="panel-body">
    <table class="table table-striped table-advance table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Data</th>
                    <th>Total custo</th>
                    <th>Total venda</th>
                    <th>discount</th>
                    <th>OBS</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in entities %}

                <tr>
                    <td><a href="{{ path('sale_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                    <td>{% if entity.date %}{{ entity.date|date('Y-m-d') }}{% endif %}</td>
                    <td>{{ entity.totalcost }}</td>
                    <td>{{ entity.totalsale }}</td>
                    <td>{{ entity.discount }}</td>
                    <td>{{ entity.saleobs }}</td>
                    <td>
                    <a  class="btn btn-info btn-xs" href="{{  path('sale_show', { 'id': entity.id })  }}"><i class="fa fa-eye"></i> Detales</a>
                    <a  class="btn btn-warning btn-xs" href="{{ path('sale_edit', { 'id': entity.id }) }}"><i class="fa fa-pencil"></i> editar</a>

                    </td>
                </tr>

            {% endfor %}


            </tbody>
        </table>
</div>

    <ul>
    <li>
          <a  class="btn btn-success" href="{{ path('sale_new') }}"><i class="fa fa-plus"></i>  {% trans %}new.sale{% endtrans%}</a>
    </li>
</ul>
{% endblock %}
