{% extends 'UerpSaleBundle:Sale:salebase.html.twig' %}



{% block supmenu %}
 {# {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}  #}


<div class="form-inline" style="margin-left: 10%;">
{{ form_start(form) }}
{{ form_errors(form) }}




 <div class="form-group" style="padding: 0px 8px 0px;">
{{ form_label(form.date) }}
{{ form_errors(form.date) }}
{{ form_widget(form.date,{'attr': {'class': 'form-control'}}) }}
</div>
 <div class="form-group" style="padding: 0px 8px 0px;">
{{ form_label(form.seller) }}
{{ form_errors(form.seller) }}
{{ form_widget(form.seller,{'attr': {'class': 'form-control combobox'}}) }}
</div>


<div class="form-group" style="padding: 0px 8px 0px;"><ul style="margin-top: 7px; padding-left: 0px"><li>
{{ form_label(form.status) }}
{{ form_errors(form.status) }}
{{ form_widget(form.status,{'value': '1','attr': {'class': ' form-group-sm'}}) }}
</li><li>
{# </div>

 <div class="form-group"> #}
{{ form_label(form.customer) }}
{{ form_errors(form.customer) }}
{{ form_widget(form.customer,{'value': '1','attr': {'class': 'form-group-sm'}}) }}
</li></ul>
</div>
 <div class="form-group" style="padding: 0px 8px 0px;" >
 {{	form_widget(form.submit,{'attr': {'class': 'btn btn-lg btn-success'}}) }}
</div>
<div id="totaldavenda" class="form-group" >
		R$ {{ form.totalsale.vars.value|number_format(2, ',', '.') }}
</div>
{{ form_end(form) }}

 <div>
	
 <a class="logout btn btn-lg btn-danger " href="{{ path('fos_user_security_logout') }}">Logout</a>

</div>
</div>
{% endblock %}


{% block body -%}
    <h1>Sale creation</h1>

        <ul class="record_actions">
    <li>
        <a href="{{ path('sale') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
