<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>{% block title %}Fecnahdo venda n {{ entity.id }}{% endblock %}</title>
      {% stylesheets 
        '@UerpMainBundle/Resources/public/css/base.css' 
        '@UerpMainBundle/Resources/public/css/loader.css' 
        '@UerpMainBundle/Resources/public/css/select2.min.css' 
        '@UerpMainBundle/Resources/public/css/bootstrap.css' 
        filter='cssrewrite' %}
      <link rel="stylesheet" href="{{ asset_url }}" />
      {% endstylesheets %}
      {% block stylesheets %}

      {% endblock %}
    </head>
    <body>

<div class="container">

<div class="panel panel-default">
	<div class="panel-body">
	  
	<div class="row">
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
			<div id="info">
				{{ form_start(formsale) }}
				{{ form_errors(formsale) }}
				<div class="row">

					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
						<label for="inputId" >Venda Numero : </label>
						<input type="text" name="id" id="inputId" class="di" value="{{ entity.id }}" required="required" pattern="" title="" disabled >
					</div>
					
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
						<label for="inputdate">Data: </label>
						{{ form_widget(formsale.date,{'attr': {'class': 'base '}}) }}
					</div>
				</div>

				<div class="row">
					<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
						<label for="input-id" >Vendedor :</label><br>
						{{ form_widget(formsale.seller,{'attr': {'class': 'combobox form-control'} }) }}
					</div>
					<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
						<label for="ind" >Cliente :</label><br>
						{{ form_widget(formsale.customer,{'attr': {'class': 'combobox form-control'}}) }}
					</div>
					<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
						<label for="sdsa" >Numero de items :</label>
						<input type="text" name="nitems" id="inputNitems" class="di" value="{{ formsale.nitems.vars.value }}" required="required" pattern="" style="width: 100px;" title="" disabled >
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
						<label for="obs" >Obs.: </label>
						{{ form_widget(formsale.saleobs,{'attr': {'class': 'base'}}) }}
					</div>
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
							<div class="row">
								<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
									<label for="total">Total :</label>
									<input type="text" name="total" id="inputtotal" class="clear" value="{{ formsale.totalsale.vars.value|number_format(2, ',', '.') }}" required="required" pattern="" title="" disabled >
									{# {{ form_widget(formsale.totalsale,{'attr': {'class': 'clear'}}) }} #}
								</div>
								<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
									{{ formsale.totalcost.vars.value }}
								</div>

								
							</div>
							<div class="row">

								<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
									<label for="s">Disconto :</label>
									<input type="text" name="discount" id="inputdiscount" class="clear" value="{{ formsale.discount.vars.value }}" required="required" style="width: 100px;" pattern="" title="" disabled >
									{# {{ form_widget(formsale.discount,{'attr': {'class': 'clear'}}) }} #}
								</div>
								<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
									<label for="swe">Taxas cartao</label>
									<input type="text" name="tax" id="inputtax" class="clear" value="{{ formsale.tax.vars.value }}" required="required" pattern="" style="width: 100px;"  title="" disabled >
									{# 	{{ form_widget(formsale.tax,{'attr': {'class': 'clear'}}) }} #}
								</div>
								
								
							</div>
						
						</div>

				</div>
			<div class="row">
				{{ form_widget(formsale.submit,{'attr': {'class': 'clear'}}) }}
			</div>

			<div style="display: none">
				{{ form_widget(formsale.status) }}

			{{ form_widget(formsale.totalcost) }}
			{{ form_widget(formsale.totalsale) }}
			{{ form_widget(formsale.nitems) }}
			{{ form_widget(formsale.discount) }}
			{{ form_widget(formsale.tax) }}
			{{ form_rest(formsale) }} 
		
			</div>
			{{ form_end(formsale) }}
		</div>

		</div> 
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
			<div class="row">
				<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
				
				</div>
				<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
					<label >Total : </label>
					<div class="input-group input-group-lg">
						<span class="input-group-addon">R$ </span>
						<input type="text" name="" class="form-control" id="tsale" value="{{ formsale.totalsale.vars.value|number_format(2, ',', '.') }}" >
						<span class="input-group-btn">
				        	<button class="btn btn-default" id="btnsavenewtotal" type="button">Save</button>
				    	</span>
					</div>
				</div>
				<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
					<div id="ttt">
					</div>
				</div>
			</div>
			<div class="row">
				<br>
			</div>
			<div class="row">
				{{ form_start(form) }}
				{{ form_errors(form) }}
				<div style="display: none">
					{{ form_widget(form.datai) }}
				</div>

				<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
			
				</div>
				<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
					<label>Valor: </label>
					{{ form_widget(form.value,{'value': formsale.totalsale.vars.value|number_format(2, '.', '.') ,'attr': {'class': 'base'}}) }}
				</div>
				<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
					<label>Tipo de Pagamento: </label><br>
					{{ form_widget(form.tpay,{'attr': {'class': 'form-control combobox'}}) }}
				</div>
			</div>

			<div class="row">
				<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
					
				</div>
				<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
					<label>Parcelas:</label>
					{{ form_widget(form.parc,{'value':'1','attr':{'class': 'base','style': 'width: 50px;' }}) }}
				</div>
				<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
					
				</div>
				<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="padding-top: 20px;">
						{{ form_widget(form.Add,{'attr': {'class': 'btn btn-default btn-lg'}}) }}
				</div>

				<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
					
				</div>

				{{ form_rest(form) }} 
				{{ form_end(form) }}
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div id="pag">
						pagamentos

					</div>
				</div>
			</div>
		</div>
	</div>



	</div>
</div>

</div>
<div class="modal" style="display:none;"> 
	
<div id="nextsale"></div>
<div id="modal">	</div>

</div>


 {% javascripts  
 				'@UerpMainBundle/Resources/public/js/jquery.js'
 				'@UerpMainBundle/Resources/public/js/select2.min.js'
                '@UerpMainBundle/Resources/public/js/bootstrap.min.js'%}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

<script type="text/javascript">
var  addincomeurl =  "{{ path('addincome')}}";
var  listapgurl =  "{{ path('listsalesincomes')}}";
var  delincomeurl =  "{{ path('delincome')}}";
var  closeencurl =  "{{ path('closeendsale')}}";
var  newsale =  "{{ path('closs')}}";


// $body = ;

// $(document).on({
//     ajaxStart: function() {     },
//      ajaxStop: function() {  }    
// });

function delincome(id) {

		var crandon = Math.floor((Math.random() * 100) + 1);
		$('#ttt').append('<div id="'+crandon+'" class="loader"></div>');


	// var saleid = $("#inputId").val();
	 	var jqxhr = $.post( delincomeurl  ,{ id : id } , function(r) { })
	  		.done(function(d) {
 				// $("#pag").html(d)
	  			 listapg();
	  			})
	  		.fail(function() {
			alert("error on delete income ");
				})
	  		.always(function() {
				var element = document.getElementById(crandon);
				$( "#"+crandon).remove();
				delete element;
				});

}


function pgcompleto() {
	


		var tot = parseFloat($('#inputtotal').val().replace(",","."));
		var pago = parseFloat($('#pago').val().replace(",","."));

var resto = (tot - pago ).toFixed(2) ;

if(resto == 0.00 || resto == 0.01 ){ 

		$("#pag").append('<a class="btn btn-success" id="closesaleend" href="#"><i class="fa fa-plus"></i> Close</a>');
	$("#form_value").val(resto);
	$("#form_parc").val("1");

}else{
			$("#pag").append('<a class="btn btn-warning disabled" id="closesaleend" href="#"><i class="fa fa-plus"></i> Close</a>');

}



}
function listapg () {
	// body...
	// 
	// $("#pag").html(d)
	var crandon = Math.floor((Math.random() * 100) + 1);
		$('#ttt').append('<div id="'+crandon+'" class="loader"></div>');


	var saleid = $("#inputId").val();
	 	var jqxhr = $.post( listapgurl  ,{ saleid : saleid } , function(r) { })
	  		.done(function(d) {
 				$("#pag").html(d);
 			pgcompleto();
	  			// alert(d.id);
	  			})
	  		.fail(function() {
			alert("error");
				})
	  		.always(function() {
				var element = document.getElementById(crandon);
				$( "#"+crandon).remove();
				delete element;
				});
}

function addincome(){
var saleid = $("#inputId").val();
var value = parseFloat( $("#form_value").val().replace(",","."));
var parc = $("#form_parc").val();
var tpay = $("#form_tpay").val();
var date = $("#uerp_salebundle_sale_date").val();


		var crandon = Math.floor((Math.random() * 100) + 1);
		$('#ttt').append('<div id="'+crandon+'" class="loader"></div>');


	
		var jqxhr = $.post( addincomeurl  ,{ saleid : saleid ,value : value , parc : parc,tpay:tpay , date : date } , function(r) { })
	  		.done(function(d) {

	  			listapg();
	  			})
	  		.fail(function() {
			alert("error");
				})
	  		.always(function() {
				var element = document.getElementById(crandon);
				$( "#"+crandon).remove();
				delete element;
				});
	
}


function closeend(){
var saleid = $("#inputId").val();



		var crandon = Math.floor((Math.random() * 100) + 1);
		$('#ttt').append('<div id="'+crandon+'" class="loader"></div>');


	
		var jqxhr = $.post( closeencurl  ,{ saleid : saleid } , function(r) { })
	  		.done(function(d) {
		var dat = $("#uerp_salebundle_sale_date").val();


 $('#nextsale').html('<form action="'+ newsale +' " name="vote" method="post" style="display:none;"><input type="text" name="date" value="' + dat + '" /></form>');

    document.forms['vote'].submit();


	  			})
	  		.fail(function() {
			alert("error");
				})
	  		.always(function() {
				var element = document.getElementById(crandon);
				$( "#"+crandon).remove();
				delete element;
				});
	
}



function savetotal(){
//listsaleitems

var crandon = Math.floor((Math.random() * 100) + 1);


				  var saleid = $("#inputId").val(); 

// 	$.post( listsaleitemsurl,  { id : saleid }, function( data ) {
// $( "#tableitems" ).html( data );
// // alert( "Load was performed." );
// }).always(function(){
// 			var element = document.getElementById(crandon);
// 			$( "#"+crandon).remove();
// 			delete element;});


// sale_reloadcloseinfo

//dispara clicle no botao update
//

// $(".demo").overlay();

// $("body").addClass("loading");

// css( "color", "red" )


// $("body").css('overflow','hidden');
// $(".spinner").css('display','block');



// css( "", "red" )

// body.loading {
//     overflow: hidden;   
// }

//  Anytime the body has the loading class, our
//    modal element will be visible 
// body.loading .modal {
//     display: block;
// }


// alert('msg');




// $('body').load('/index.php');

/*var element = document.getElementById(crandon);
			$( "#"+crandon).remove();
			delete element;
			// $("body").css('overflow','visible');
			// $(".modal").css('display','none');
*/

}


    $(document).ready(function() {
        $(".combobox").select2(); 
        $('#form_parc').prop('disabled',true);

       listapg();


        $(document).on('change','#form_tpay',function(){
        	if($('#form_tpay').val() == 3 ) {
        		 $('#form_parc').prop('disabled',false);
        	}else{ $('#form_parc').prop('disabled',true);
 				$('#form_parc').val('1');
        }
        });


$(document).on('click','#form_Add',function(){
addincome();


});
	

	$(document).on('click','.deletepg',function(a){
		delincome(this.id);


	});

	$(document).on('click','#closesaleend',function(a){
		closeend();


	});

     	$(document).on('click','#btnsavenewtotal',function(){
          	var tsale = parseFloat($('#tsale').val().replace(",","."));
  			var total = parseFloat($('#uerp_salebundle_sale_totalsale').val());
  			var disc = parseFloat($('#inputdiscount').val());
  			var ax = (total + disc - tsale).toFixed(2);
  			if(ax <= 0 ){
  				$('#inputdiscount').val('0.00');
  				$('#uerp_salebundle_sale_discount').val('0.00');
  			}else{
  				$('#inputdiscount').val(ax);
  				$('#uerp_salebundle_sale_discount').val(ax);
  			}
			$('#uerp_salebundle_sale_totalsale').val(tsale.toFixed(2));
			$('#inputtotal').val(tsale.toFixed(2));
			$('#tsale').val(tsale.toFixed(2));
			$('.modal').css('display','block');
			$("#modal").addClass('loader');
			$( "#uerp_salebundle_sale_submit" ).trigger( "click" );
			//$('#ttt').append('<div  id="'+crandon+ '" class="loader" ></div>');
			// savetotal();
        });

	});
</script>

</body></html





