<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>{% block title %}Welcome!{% endblock %}</title>


{% stylesheets  '@UerpMainBundle/Resources/public/css/select2.min.css'
                '@UerpMainBundle/Resources/public/css/bootstrap.min.css' 
                '@UerpMainBundle/Resources/public/css/style.css'
                '//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'
filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}



<style>
  .black-bg {
    background: #B8FF77;
    border-bottom: 1px solid #9DB5A0;
}

  
</style>

        {% block stylesheets %}{% endblock %}
        
      
    </head>
    <body>
		{% block menu %}
			<section  id="container" >
      <!-- **********************************************************************************************************************************************************
      TOP BAR CONTENT & NOTIFICATIONS
      *********************************************************************************************************************************************************** -->
      <!--header start-->
      <header class="header black-bg">
              <div class="sidebar-toggle-box">
                  <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
              </div>
            <!--logo start-->
            <a href="{{ path('homepage') }}" class="logo"><b>Uerp</b></a>
            <!--logo end-->
            <div >





            {% block supmenu %}{% endblock %}
       
            	
                  

						
                
            
            </div>
        </header>
      <!--header end-->
      
      <!-- **********************************************************************************************************************************************************
      MAIN SIDEBAR MENU
      *********************************************************************************************************************************************************** -->
      <!--sidebar start-->
      <aside>
          <div id="sidebar"  class="nav-collapse" >
              <!-- sidebar menu start-->
              <ul class="sidebar-menu" id="nav-accordion">

            	  <p class="centered"><a href="{{ path('fos_user_profile_show') }}">

                    {% image '@UerpMainBundle/Resources/public/images/ui-danro.jpg' %}
                      <img src="{{ asset_url }}" class="img-circle" width="60" />
                    {% endimage %}
                  
                  </a></p>
              	  <h5 class="centered">
{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
   {{ app.user.username }}
{% endif %}


              </h5>
              	  	
                  <li class="mt">
                      <a class="active" href="{{ path('homepage') }}">
                          <i class="fa fa-dashboard"></i>
                          <span>Dashboard</span>
                      </a>
                  </li>

                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class=" fa fa-tags"></i>
                          <span>Stok</span>
                      </a>
                      <ul class="sub">
                          <li><a  href="morris.html">Morris</a></li>
                          <li><a  href="chartjs.html">Chartjs</a></li>
                      </ul>
                  </li>

                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-barcode "></i>
                          <span>Sales</span>
                      </a>
                      <ul class="sub">
                          <li><a  href="{{ path('sale') }}">Sales</a></li>
                          <li><a  href="{{ path('sale_new') }}">New</a></li>
                         
                      </ul>
                  </li>

                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-money"></i>
                          <span>Bills</span>
                      </a>
                      <ul class="sub">
                          <li><a  href="{{ path('bills') }}">List</a></li>
                          <li><a  href="{{ path('bills_new') }}">New</a></li>
                           <li><a  href="{{ path('bankaccount') }}">Bank Balance</a></li>
                      </ul>
                  </li>

                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-cogs"></i>
                          <span>Config</span>
                      </a>
                      <ul class="sub">
                          <li><a  href="form_component.html">Form Components</a></li>
                      </ul>
                  </li>

                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-users"></i>
                          <span>Users</span>
                      </a>
                      <ul class="sub">
                          <li><a  href="{{ path('fos_user_profile_show') }}">Show</a></li>
                          <li><a  href="{{ path('fos_user_registration_register') }}">New</a></li>
                      </ul>
                  </li>
                  

              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>
      <!--sidebar end-->

   <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
      <!--main content start-->
      <section id="main-content">
          <section class="wrapper">

              <div class="row">
		{% endblock %}	
        {% block body %}{% endblock %}

{% block footer %}
                </div>
      <!--main content end-->
  </section>
{% endblock %}
		<!-- javascript --> 	
{% javascripts  '@UerpMainBundle/Resources/public/js/jquery.js'
                '@UerpMainBundle/Resources/public/js/bootstrap.min.js' 
                '@UerpMainBundle/Resources/public/js/common-scripts.js'
                '@UerpMainBundle/Resources/public/js/jquery.dcjqaccordion.2.7.js'
                '@UerpMainBundle/Resources/public/js/jquery.scrollTo.min.js'
                '@UerpMainBundle/Resources/public/js/jquery.nicescroll.js'
                '@UerpMainBundle/Resources/public/js/select2.min.js'
               %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
<script type="text/javascript">
$( document ).ready(function() {

        hidebarinit();

$(".combobox").select2();
$('#uerp_salebundle_sale_seller').select2('open');

    });
</script>
{% endjavascripts %}
	
	
{% block javascripts %}{% endblock %}
    


    </body>
</html>
