{% extends 'UerpSaleBundle:Sale:sellingbase.html.twig' %}



{% block supmenu %}
<div id="supmenu">
	{{ form_start(form) }}
{{ form_errors(form) }}

<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="padding-top: 10px;">
	Number: <br>
	<span>
	{{ entity.id }}
	</span>	
	<input type="hidden" name="saleid" id="inputSaleid" class="form-control" value="{{ entity.id }}">
</div>
<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="padding-left: 8px;
padding-right: 8px;">
	{{ form_label(form.date) }}
	{{ form_errors(form.date) }}
	{{ form_widget(form.date,{'attr': {'class': 'form-control'}}) }}
</div>
<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
	{{ form_label(form.seller) }}
	{{ form_errors(form.seller) }}
	{{ form_widget(form.seller,{'attr': {'class': 'form-control combobox'}}) }}
</div>
<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="font-size: 11px;
font-weight: bold;">
	<ul>
		<li>
			Status
			{{ form_errors(form.status) }}
			{{ form_widget(form.status,{'attr': {'class': ' form-group-sm'}}) }}
		</li><li>
			Cliente
			{{ form_errors(form.customer) }}
			{{ form_widget(form.customer,{'attr': {'class': 'form-group-sm'}}) }}
		</li>
	</ul>
</div>

<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="padding-top: 15px;">
	{{	form_widget(form.submit,{'attr': {'class': 'btn btn-success'}}) }}
</div>
<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" ><div id="totaldavenda">
	R$ {{ form.totalsale.vars.value|number_format(2, ',', '.') }}
</div></div>
<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="
    padding-right: 0px;
    padding-left: 0px;
">n. de itens<br>
	{{ form.nitems.vars.value }}
</div>
<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
<div id="saleld">
	
</div>
</div>
{{ form_end(form) }}

</div>
{% endblock %}


{% block body -%}
<div class="row" >

	<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
		<div class="row" style="margin: 8px;">
			<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
				<div id="loading-indicator" class="spinner" >
				
				</div>
			</div>
			<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" style="width:300px;" id="codd">
				<input type="text" name="cod" id="inputCod" class="form-control" value="" placeholder="Codigo :" required="required" pattern="" title="" >
			</div>
			<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 input-group">
				<input type="number" name="qtd" id="inputQtd" placeholder="Qtd" class="form-control" value="1" min="{5"} max="" step="0.25" required="required" aria-describedby="labelqtd" title=""> <span class="input-group-addon" id="labelqtd">Qtd</span>
			</div>
		</div>
		<div class="row" style="margin: 8px;">
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
				<input type="text" name="setcod" id="inputsetcod" class="form-control" value="" required="required" pattern="" title="">
			</div>
			<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 input-group">
				<span class="input-group-addon">R$</span>
				<input type="number" name="price" id="inputPrice" class="form-control" value="" min="{5"} max="" step="" required="required" title="">
			</div>
			<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
				<input type="text" name="setpc" id="inputSetpc" class="form-control" value="" required="required" pattern="" title="">
			</div>
		</div>
		<div class="row" style="margin:8px;">
			<textarea id="descp" class="form-control" readonly="true" style="resize: none; height: 80px;">
				

			</textarea>	
	
		</div>
		<div class="row">
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
				
			</div>
			<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
				<button type="button" id="btnok" class="btn btn-success">OK</button>
			</div>
			<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
				<div id="addingitem">
					
				</div>
			</div>
		</div>
		
</div>

	<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7" id="listsaleitems">
<div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
	<div id="tableitems">

	</div>
</div>
	<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
			<div id="saleitemsld"></div>
		</div>	
	</div>

</div>




{% endblock %}






{% block actions %}





<script type="text/javascript">
function findproduct(){

	var cod = $("#inputCod").val();
	
	if(cod.replace(/\s/g,"") != ""){

		var crandon = Math.floor((Math.random() * 100) + 1);
		$('#loading-indicator').append('<img  id="'+crandon+ '" src="http://www.ajaxload.info/images/exemples/21.gif">');
		$("#codd").removeClass("has-error");
		$("#inputsetcod").val("");
		
		var jqxhr = $.post( "{{ path('findproduct')}}",{ cod: cod } , function(cod) { })
	  		.done(function(dados) {
				$("#descp").html(dados.desc);
				$("#inputSetpc").val(dados.cprice);
				$("#inputsetcod").val(dados.cod);
				$("#inputPrice").val(dados.price);})
	  		.fail(function() {
				$("#codd").addClass("has-error");
				alert( "error" );})
	  		.always(function() {
				var element = document.getElementById(crandon);
				$( "#"+crandon).remove();
				delete element;});
	}
}
function additem () {
	var cod = $("#inputsetcod").val();
  	
  	
        cod = cod.replace(/\s/g,'');
		var saleid = $("#inputSaleid").val();
	  	var qtd = parseFloat($('#inputQtd').val().replace(",","."));
	  	var price = parseFloat($('#inputPrice').val().replace(",","."));
	  	var cprice =parseFloat($('#inputSetpc').val().replace(",","."));
		var crandon = Math.floor((Math.random() * 100) + 1);
		$('#addingitem').append('<img  id="'+crandon+ '" src="http://www.ajaxload.info/images/exemples/21.gif">');
		var jqxhr = $.post( "{{ path('saleitems_additem')}}",{ cod: cod, saleid : saleid , qtd : qtd, price : price, cprice : cprice } , function(cod) { })
  			.done(function(dados) {
		  		console.log("adicionado item id =>"+dados.id);
		  		// console.log(dados.id);	
		  		 refreshsaledata();
		  		 refreshsaleitems();
		  		 $("#inputsetcod").val(" ");
		  		 $("#inputQtd").val("1");
		  		 $("#inputPrice").val(" ");
		  		 $("#inputcod").val(" ");
		  		 $("#inputSetpc").val(" ");})
	  		.fail(function() {
				// $("#codd").addClass("has-error");
				})
	  		.always(function() {
				var element = document.getElementById(crandon);
				$( "#"+crandon).remove();
				delete element;});
	
       
}
function refreshsaledata () {

	var crandon = Math.floor((Math.random() * 100) + 1);
	$('#saleld').append('<img  id="'+crandon+ '" src="http://www.ajaxload.info/images/exemples/21.gif">');

				  var saleid = $("#inputSaleid").val(); 
	$.post( "{{ path('sale_reloadmenu') }}",  { id : saleid }, function( data ) {
$( "#supmenu" ).html( data );
// alert( "Load was performed." );
}).always(function(){
			var element = document.getElementById(crandon);
			$( "#"+crandon).remove();
			delete element;});

}


function refreshsaleitems(){
//listsaleitems

var crandon = Math.floor((Math.random() * 100) + 1);
	$('#saleitemsld').append('<img  id="'+crandon+ '" src="http://www.ajaxload.info/images/exemples/21.gif">');

				  var saleid = $("#inputSaleid").val(); 
	$.post( "{{ path('listsaleitems') }}",  { id : saleid }, function( data ) {
$( "#tableitems" ).html( data );
// alert( "Load was performed." );
}).always(function(){
			var element = document.getElementById(crandon);
			$( "#"+crandon).remove();
			delete element;});



}


	
$( document ).ready(function() {
	refreshsaleitems();


	$(document).on('keyup','#inputCod',function  (argument) {
		findproduct();
	});


	$(document).on('click','#btnok',function  (argument) {
		additem();

		
	});



});

// $(document).ajaxSend(function(event, request, settings) {
//   $('#loading-indicator').show();
// });

// $(document).ajaxComplete(function(event, request, settings) {
//   $('#loading-indicator').hide();
// });
</script>






{% endblock %}