{% extends 'UerpMainBundle::main.html.twig' %}
{% block title %} {% trans %}incomes{% endtrans%} {% endblock %}

{% block body -%}

    <div class="panel panel-info" style="margin: 20px">
    <div class="panel-heading">
        <h4>{% trans %}incomes{% endtrans%}</h4>
    </div>

    <table class="records_list table table-striped table-advance table-houver">
        <thead>
            <tr>
                <th>Id</th>
                <th>{% trans %}saleid{% endtrans%}</th>
                <th>{% trans %}valueb{% endtrans%}</th>
                <th>{% trans %}valuel{% endtrans%}</th>
                <th>{% trans %}tax{% endtrans%}</th>
                <th>{% trans %}date{% endtrans%}</th>
                <th>{% trans %}actions{% endtrans%}</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('incomes_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.saleid }}</td>
                <td>{{ entity.valueb }}</td>
                <td>{{ entity.valuel }}</td>
                <td>{{ entity.tax }}</td>
                <td>{% if entity.date %}{{ entity.date|date('Y-m-d') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('incomes_show', { 'id': entity.id }) }}">{% trans %}show{% endtrans%}</a>
                    </li>
                    <li>
                        <a href="{{ path('incomes_edit', { 'id': entity.id }) }}">{% trans %}edit{% endtrans%}</a>
                    </li>
                    <li>
                        <a href="{{ path('incomes_rec', { 'id': entity.id }) }}">{% trans %}rec{% endtrans%}</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <!-- <ul>
        <li>
            <a href="{{ path('incomes_new') }}">
                Create a new entry
            </a>
        </li>
    </ul> -->
  </div>
    {% endblock %}
