<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Uerp !{% endblock %}</title>
    {% stylesheets  '@UerpMainBundle/Resources/public/css/bootstrap.min.css'
                '@UerpMainBundle/Resources/public/css/style.css'
                '//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'
                filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
{% block stylesheets %}{% endblock %}
    </head>
    <body>
		{% block menu %}
			<section  id="container" >
      <!--header start-->
      <header class="header black-bg">
              <div class="sidebar-toggle-box">
                  <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
              </div>
            <!--logo start-->
            <a href="{{ path('homepage') }}" class="logo"><b>Uerp</b></a>
            <!--logo end-->
            <div class="nav notify-row" id="top_menu">
                <!--  notification start -->
                <ul class="nav top-menu">
                </ul>
                <!--  notification end -->
            </div>
            <div class="top-menu">
            	<ul class="nav pull-right top-menu">
                    <li>

						 <a class="logout" href="{{ path('fos_user_security_logout') }}">{% trans %}logout{% endtrans%}</a></li>

            	</ul>
            </div>
        </header>
      <!--header end-->
      <!--sidebar start-->
      <aside>
          <div id="sidebar"  class="nav-collapse" >
              <!-- sidebar menu start-->
              <ul class="sidebar-menu" id="nav-accordion">

            	  <p class="centered"><a href="{{ path('fos_user_profile_show') }}">

                    {% image '@UerpMainBundle/Resources/public/images/ui-danro.jpg' %}
                      <img src="{{ asset_url }}" class="img-circle" width="60" />
                    {% endimage %}

                  </a></p>
              	  <h5 class="centered">
{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
   {{ app.user.username }}
{% endif %}


              </h5>

                  <li class="mt">
                      <a class="active" href="{{ path('homepage') }}">
                          <i class="fa fa-dashboard"></i>
                          <span>{% trans %}dashboard{% endtrans%}</span>
                      </a>
                  </li>

                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class=" fa fa-tags"></i>
                          <span>{% trans %}stock{% endtrans%}</span>
                      </a>
                      <ul class="sub">
                          <li><a  href="{{ path('product') }}">{% trans %}list_stock{% endtrans%}</a></li>
                      </ul>
                  </li>

                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-barcode "></i>
                          <span>{% trans %}sales{% endtrans%}</span>
                      </a>
                      <ul class="sub">
                          <li><a  href="{{ path('sale') }}">{% trans %}last_sales{% endtrans%}</a></li>
                          <li><a  href="{{ path('sale_new') }}">{% trans %}pos{% endtrans%}</a></li>
                          <li><a  href="{{ path('report') }}">{% trans %}report{% endtrans%}</a></li>
                      </ul>
                  </li>

                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-money"></i>
                          <span>{% trans %}bills{% endtrans%}</span>
                      </a>
                      <ul class="sub">
                          <li><a  href="{{ path('bills') }}">{% trans %}last_bills{% endtrans%}</a></li>
                          <li><a  href="{{ path('bills_new') }}">{% trans %}new_bill{% endtrans%}</a></li>
                           <li><a  href="{{ path('bankaccount') }}">{% trans %}bank_balance{% endtrans%}</a></li>
                           <li><a  href="{{ path('incomes') }}">{% trans %}incomes{% endtrans%}</a></li>
                      </ul>
                  </li>

                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-cogs"></i>
                          <span>{% trans %}settings{% endtrans%}</span>
                      </a>
                      <ul class="sub">
                          <li><a  href="{{path('categories')}}">{% trans %}categories{% endtrans%}</a></li>
                          <li><a  href="{{path('subcategories')}}">{% trans %}sub_categories{% endtrans%}</a></li>
                          <li><a  href="{{path('seller')}}">{% trans %}seller{% endtrans%}</a></li>
                          <li><a  href="{{path('supplier')}}">{% trans %}supplier{% endtrans%}</a></li>
                          <li><a  href="{{path('tpayment')}}">{% trans %}pay_types{% endtrans%}</a></li>
                          <li><a  href="{{path('customer')}}">{% trans %}customer{% endtrans%}</a></li>
                          <li><a  href="{{path('status')}}">{% trans %}status{% endtrans%}</a></li>
                          <li><a  href="{{path('product_unit')}}">{% trans %}product_unit{% endtrans%}</a></li>
                          <li><a  href="{{path('product_icms')}}">{% trans %}product_icms{% endtrans%}</a></li>
                      </ul>
                  </li>

                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-users"></i>
                          <span>{% trans %}user{% endtrans%}</span>
                      </a>
                      <ul class="sub">
                          <li><a  href="{{ path('fos_user_profile_edit') }}">{% trans %}edit_user{% endtrans%}</a></li>
                          <li><a  href="{{ path('fos_user_registration_register') }}">{% trans %}new_user{% endtrans%}</a></li>
                      </ul>
                  </li>
              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>
      <!--sidebar end-->
      <!--main content start-->
      <section id="main-content">
          <section class="wrapper">

              <div class="row">
		{% endblock %}

        {% block body %}

        Dashboard

        {% endblock %}


{% block footer %}
                </div>
      <!--main content end-->
  </section>  </section>
{% endblock %}
		<!-- javascript -->
{% javascripts  '@UerpMainBundle/Resources/public/js/jquery.js'
                '@UerpMainBundle/Resources/public/js/jquery.dcjqaccordion.2.7.js'
                '@UerpMainBundle/Resources/public/js/jquery.scrollTo.min.js'
                '@UerpMainBundle/Resources/public/js/jquery.nicescroll.js'
                '@UerpMainBundle/Resources/public/js/bootstrap.min.js'
                '@UerpMainBundle/Resources/public/js/common-scripts.js'
               %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    <script>
$(document).ready(function() {

        $('.submitOnChange').change( function(event) {
    $.ajax({
        type: "GET",
        data: "data=" + $(this).val(),
        url:"{{ path('_listsubcategories') }}",
        success: function(msg){
            if (msg != ''){
               $('.ssubcategories').html(msg).show();
               }
               else
               {
                   $('.ssubcategories').html('<em>No item result</em>');
               }
           }
       });
  });
});
</script>
{% endjavascripts %}


{% block javascripts %}{% endblock %}



    </body>
</html>
