{% extends 'UerpMainBundle::main.html.twig' %}
{% block title %} Bills New {% endblock %}  
{% block body -%}
   
<div class="panel panel-info" style="margin: 20px">
  <div class="panel-heading">
    <h3>Bills New</h3>
  </div>
  <div class="panel-body form-horizontal"">
    {{ form_start(form) }}
    {{ form_errors(form) }}
    <div class="row form-group form-group-lg" >
      {{ form_label(form.date,'Data : ',{'label_attr': {'class': 'col-md-2 control-label'}}) }}
          {{ form_errors(form.date) }}
          <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10"> 
            {{ form_widget(form.date,{'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    <div class="row form-group form-group-lg">
      {{ form_label(form.transactiontype,'Type :',{'label_attr': {'class': 'col-md-2 control-label'}}) }}
          {{ form_errors(form.transactiontype) }}
          <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
            {{ form_widget(form.transactiontype,{'attr': {'class': 'form-control'}}) }}
          </div>
    </div>
    <div class="row form-group form-group-lg">
      {{ form_label(form.categories,'Reference :',{'label_attr': {'class': 'col-md-2 control-label'}}) }}
          {{ form_errors(form.categories) }}
          
          <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
            {{ form_widget(form.categories,{'attr': {'class': 'form-control' }}) }}
          </div>    
    </div>
    <div class="row form-group form-group-lg">
      {{ form_label(form.supplier,'Supplier :',{'label_attr': {'class': 'col-md-2 control-label'}}) }}
          {{ form_errors(form.supplier) }}
          <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
            {{ form_widget(form.supplier,{'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    <div class="row form-group form-group-lg">
      {{ form_label(form.docorigin,'Doc :',{'label_attr': {'class': 'col-md-2 control-label'}}) }}
          {{ form_errors(form.docorigin) }}
          <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
            {{ form_widget(form.docorigin,{'attr': {'class': 'form-control'}}) }}
          </div>    
    </div>
    <div class="row form-group form-group-lg">
      {{ form_label(form.value,'Valor :',{'label_attr': {'class': 'col-md-2 control-label'}}) }}
          {{ form_errors(form.value) }}
          <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
            {{ form_widget(form.value,{'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    <div class="row form-group form-group-lg">
      {{ form_label(form.dataaux,'Aux :',{'label_attr': {'class': 'col-md-2 control-label'}}) }}
          {{ form_errors(form.dataaux) }}
          <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
            {{ form_widget(form.dataaux,{'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    <div class="row form-group form-group-lg">
      {{ form_label(form.account,'Account :',{'label_attr': {'class': 'col-md-2 control-label'}}) }}
          {{ form_errors(form.account) }}
          <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
            {{ form_widget(form.account,{'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    <div class="row form-group form-group-lg">
      {{ form_label(form.status,'Status :',{'label_attr': {'class': 'col-md-2 control-label'}}) }}
          {{ form_errors(form.status) }}
          <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
        {{ form_widget(form.status,{'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    <div class="row btn-group" style="padding-left: 10px">
        {{ form_widget(form.submit) }} 
    </div>
    {{ form_row(form._token) }}
    {{ form_end(form) }} 
  </div>
</div>
    {# {{ form(form) }} #}

        <ul class="record_actions">
    <li>
        <a class="btn btn-lg btn-warning" href="{{ path('bills') }}"><i class="fa fa-arrow-left"></i>
            Back 
        </a>
    </li>
    <li></li>
</ul>
{% endblock %}
