{% extends 'UerpMainBundle::main.html.twig' %}

{% block body -%}
    <h1>Bills</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ entity.date|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Value</th>
                <td>{{ entity.value }}</td>
            </tr>
            <tr>
                <th>Docorigin</th>
                <td>{{ entity.docorigin }}</td>
            </tr>
            <tr>
                <th>Dataaux</th>
                <td>{{ entity.dataaux }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('bills') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('bills_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
