{% extends 'UerpMainBundle::main.html.twig' %}
{% block title %} Bills Show {% endblock %}  
{% block body -%}
   
<div class="panel panel-info" style="margin: 20px">
    <div class="panel-heading">
        <h3>Bills Show</h3>
    </div>
    <div class="panel-body form-horizontal">
        <div class="row form-group form-group-lg" >
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                Id :
            </div>
            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10"> 
               {{ entity.id }}
            </div>
        </div>
        <div class="row form-group form-group-lg" >
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                Date :
            </div>
            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10"> 
               {% if entity.date %}{{ entity.date|date('Y-m-d') }}{% endif %}
            </div>
        </div>
        <div class="row form-group form-group-lg" >
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
               Categories :
            </div>
            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10"> 
               {{ entity.categories }}
            </div>
        </div>
        <div class="row form-group form-group-lg" >
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
              Sub  Categories : 
            </div>
            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10"> 
               {{ entity.subcategories }}
            </div>
        </div>
        <div class="row form-group form-group-lg" >
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                Supplier :
            </div>
            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10"> 
               {{ entity.supplier }}
            </div>
        </div>
        <div class="row form-group form-group-lg" >
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                Doc :
            </div>
            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10"> 
               {{ entity.docorigin }}
            </div>
        </div>
        <div class="row form-group form-group-lg" >
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                Value :
            </div>
            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10"> 
               {% if entity.value < 0  %}
                                <span style="color:red">
                                    R$ {{ entity.value|number_format(2, ',', '.') }} 
                                </span>
                            {% else %}
                                R$ {{ entity.value|number_format(2, ',', '.') }}
                            {% endif %}
            </div>
        </div>
        <div class="row form-group form-group-lg" >
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                Aux :
            </div>
            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10"> 
               {{ entity.dataaux }}
            </div>
        </div>
        <div class="row form-group form-group-lg" >
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                Bank :
            </div>
            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10"> 
               {{ entity.account }}
            </div>
        </div>
        <div class="row form-group form-group-lg" >
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                Status :
            </div>
            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10"> 
               {{ entity.status }}
            </div>
        </div>

        <div class="row btn-group" style="padding-left: 10px">
            
          <a class="btn btn-lg btn-warning" href="{{ path('bills') }}"><i class="fa fa-arrow-left"></i>
            Back 
        </a>
          <a class="btn btn-lg btn-default" href="{{ path('bills') }}"><i class="fa fa-pencil"></i>
            Edit
        </a>
        </div>
    </div>
</div>   
{% endblock %}
