{% extends '::base.html.twig' %}

{% block body -%}
    <h1>CompanyPerson list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Fancyname</th>
                <th>Cnpj</th>
                <th>Stateregistry</th>
                <th>Cityregistry</th>
                <th>Contact</th>
                <th>Contactphone</th>
                <th>Contactemail</th>
                <th>Id</th>
                <th>Name</th>
                <th>Phone_number</th>
                <th>Mobile_number</th>
                <th>Email</th>
                <th>Birth_date</th>
                <th>Street</th>
                <th>Street_number</th>
                <th>Complement</th>
                <th>District</th>
                <th>Postal_code</th>
                <th>City</th>
                <th>Notes</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('companyperson_show', { 'id': entity.id }) }}">{{ entity.fancyName }}</a></td>
                <td>{{ entity.cnpj }}</td>
                <td>{{ entity.stateRegistry }}</td>
                <td>{{ entity.cityRegistry }}</td>
                <td>{{ entity.contact }}</td>
                <td>{{ entity.contactPhone }}</td>
                <td>{{ entity.contactEmail }}</td>
                <td>{{ entity.id }}</td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.phonenumber }}</td>
                <td>{{ entity.mobilenumber }}</td>
                <td>{{ entity.email }}</td>
                <td>{% if entity.birthdate %}{{ entity.birthdate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.street }}</td>
                <td>{{ entity.streetnumber }}</td>
                <td>{{ entity.complement }}</td>
                <td>{{ entity.district }}</td>
                <td>{{ entity.postalcode }}</td>
                <td>{{ entity.city }}</td>
                <td>{{ entity.notes }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('companyperson_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('companyperson_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('companyperson_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
