{% extends 'UerpMainBundle::main.html.twig' %}

{% block body -%}
    <h1>Product</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Barcode</th>
                <td>{{ entity.barcode }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Cost</th>
                <td>{{ entity.cost }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ entity.price }}</td>
            </tr>
            <tr>
                <th>Sku</th>
                <td>{{ entity.sku }}</td>
            </tr>
            <tr>
                <th>Unidade</th>
                <td>{{ entity.unit }}</td>
            </tr>
            <tr>
                <th>NCM</th>
                <td>{{ entity.ncm }}</td>
            </tr>
            <tr>
                <th>Tax</th>
                <td>{{ entity.icms }}</td>
            </tr>
            <tr>
                <th>Notes</th>
                <td>{{ entity.notes }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('product') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('product_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
