{% extends 'UerpMainBundle::main.html.twig' %}

{% block body -%}
    <h1>Product</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>{% trans %}Id{% endtrans %}</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>{% trans %}Barcode{% endtrans %}</th>
                <td>{{ entity.barcode }}</td>
            </tr>
            <tr>
                <th>{% trans %}Name{% endtrans %}</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>{% trans %}Cost{% endtrans %}</th>
                <td>{{ entity.cost }}</td>
            </tr>
            <tr>
                <th>{% trans %}Price{% endtrans %}</th>
                <td>{{ entity.price }}</td>
            </tr>
            <tr>
                <th>{% trans %}Sku{% endtrans %}</th>
                <td>{{ entity.sku }}</td>
            </tr>
            <tr>
                <th>{% trans %}Unit{% endtrans %}</th>
                <td>{{ entity.unit }}</td>
            </tr>
            <tr>
                <th>{% trans %}NCM{% endtrans %}</th>
                <td>{{ entity.ncm }}</td>
            </tr>
            <tr>
                <th>{% trans %}Tax{% endtrans %}</th>
                <td>{{ entity.icms }}</td>
            </tr>
            <tr>
                <th>{% trans %}Notes{% endtrans %}</th>
                <td>{{ entity.notes }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('product') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('product_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
